# Creating a logistic regression to predict absenteeism

## Import the relevant libraries

In [55]:
# import the relevant libraries
import pandas as pd
import numpy as np

## Load the data

In [56]:
# load the preprocessed CSV data
data_preprocessed = pd.read_csv('Absenteeism_preprocessed.csv')

In [57]:
# eyeball the data
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

## Create the targets

In [58]:
# find the median of 'Absenteeism Time in Hours'
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [59]:
# create targets for our logistic regression
# they have to be categories and we must find a way to say if someone is 'being absent too much' or not
# what we've decided to do is to take the median of the dataset as a cut-off line
# in this way the dataset will be balanced (there will be roughly equal number of 0s and 1s for the logistic regression)
# as balancing is a great problem for ML, this will work great for us
# alternatively, if we had more data, we could have found other ways to deal with the issue 
# for instance, we could have assigned some arbitrary value as a cut-off line, instead of the median

# note that what line does is to assign 1 to anyone who has been absent 4 hours or more (more than 3 hours)
# that is the equivalent of taking half a day off

# initial code from the lecture
# targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 3, 1, 0)

# parameterized code
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 
                   data_preprocessed['Absenteeism Time in Hours'].median(), 1, 0)

In [60]:
# eyeball the targets
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [61]:
# create a Series in the original data frame that will contain the targets for the regression
data_preprocessed['Excessive Absenteeism'] = targets

In [62]:
# check what happened
# maybe manually see how the targets were created
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pet,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

## A comment on the targets

In [63]:
# check if dataset is balanced (what % of targets are 1s)
# targets.sum() will give us the number of 1s that there are
# the shape[0] will give us the length of the targets array
targets.sum() / targets.shape[0]

0.45571428571428574

In [64]:
# create a checkpoint by dropping the unnecessary variables
# also drop the variables we 'eliminated' after exploring the weights
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours','Day of the Week',
                                            'Daily Work Load Average','Distance to Work'],axis=1)

In [65]:
# check if the line above is a checkpoint :)

# if data_with_targets is data_preprocessed = True, then the two are pointing to the same object
# if it is False, then the two variables are completely different and this is in fact a checkpoint
data_with_targets is data_preprocessed

False

In [66]:
# check what's inside
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0

## Select the inputs for the regression

In [67]:
data_with_targets.shape

(700, 12)

In [68]:
# Selects all rows and all columns until 14 (excluding)
data_with_targets.iloc[:,:14]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0
5,0,0,0,1,10,179,38,31,0,0,0,0
6,0,0,0,1,7,361,28,27,0,1,4,1
7,0,0,0,1,7,260,36,23,0,4,0,1
8,0,0,1,0,6,155,34,25,0,2,0,1
9,0,0,0,1,7,235,37,29,1,1,1,1
10,1,0,0,0,7,260,36,23,0,4,0,1
11,1,0,0,0,7,260,36,23,0,4,0,1
12,1,0,0,0,7,260,36,23,0,4,0,1
13,1,0,0,0,7,179,38,31,0,0,0,0
14,0,0,0,1,7,179,38,31,0,0,0,1
15,1,0,0,0,7,246,41,23,0,0,0,1
16,0,0,0,1,7,179,38,31,0,0,0,0
17,0,0,1,0,7,179,38,31,0,0,0,1
18,1,0,0,0,7,189,33,25,0,2,2,1
19,0,0,0,1,5,248,47,32,0,2,1,0
20,1,0,0,0,12,330,28,25,1,0,0,1
21,1,0,0,0,3,179,38,31,0,0,0,0
22,1,0,0,0,10,361,28,27,0,1,4,1
23,0,0,0,1,8,260,36,23,0,4,0,1
24,0,0,1,0,8,289,33,30,0,2,1,1
25,0,0,0,1,8,361,28,27,0,1,4,1
26,0,0,0,1,4,289,33,30,0,2,1,0
27,0,0,0,1,12,157,29,22,0,0,0,1
28,0,0,1,0,8,289,33,30,0,2,1,1
29,0,0,0,1,8,179,38,31,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,4,155,34,25,0,2,0,1
671,0,0,1,0,4,225,28,24,0,1,2,1
672,1,0,0,0,4,118,50,31,0,1,0,0
673,0,0,0,1,4,179,30,19,1,0,0,0
674,0,0,0,1,7,235,37,29,1,1,1,1
675,0,0,1,0,9,225,41,28,1,2,2,0
676,0,0,0,1,9,235,32,25,1,0,0,0
677,1,0,0,0,9,118,37,28,0,0,0,0
678,0,0,0,1,9,235,43,38,0,1,0,1
679,1,0,0,0,10,179,30,19,1,0,0,0
680,0,0,0,1,10,291,40,25,0,1,1,0
681,1,0,0,0,10,225,41,28,1,2,2,1
682,0,0,1,0,11,300,43,25,0,2,1,1
683,0,0,0,1,11,225,41,28,1,2,2,1
684,0,0,0,1,11,179,30,19,1,0,0,0
685,0,0,0,1,5,118,50,31,0,1,0,0
686,1,0,0,0,5,118,50,31,0,1,0,0
687,0,0,0,1,5,118,37,28,0,0,0,0
688,0,0,0,0,5,118,50,31,0,1,0,0
689,0,0,0,1,5,179,30,19,1,0,0,0
690,0,0,0,0,5,378,36,21,0,2,4,0
691,0,1,0,0,5,179,40,22,1,2,0,0
692,1,0,0,0,5,155,34,25,0,2,0,1
693,1,0,0,0,5,235,32,25,1,0,0,1
694,0,0,0,1,5,291,40,25,0,1,1,1
695,1,0,0,0,5,179,40,22,1,2,0,1
696,1,0,0,0,5,225,28,24,0,1,2,0
697,1,0,0,0,5,330,28,25,1,0,0,1
698,0,0,0,1,5,235,32,25,1,0,0,0
699,0,0,0,1,5,291,40,25,0,1,1,0

In [69]:
# Selects all rows and all columns but the last one (basically the same operation)
data_with_targets.iloc[:,:-1]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
5,0,0,0,1,10,179,38,31,0,0,0
6,0,0,0,1,7,361,28,27,0,1,4
7,0,0,0,1,7,260,36,23,0,4,0
8,0,0,1,0,6,155,34,25,0,2,0
9,0,0,0,1,7,235,37,29,1,1,1
10,1,0,0,0,7,260,36,23,0,4,0
11,1,0,0,0,7,260,36,23,0,4,0
12,1,0,0,0,7,260,36,23,0,4,0
13,1,0,0,0,7,179,38,31,0,0,0
14,0,0,0,1,7,179,38,31,0,0,0
15,1,0,0,0,7,246,41,23,0,0,0
16,0,0,0,1,7,179,38,31,0,0,0
17,0,0,1,0,7,179,38,31,0,0,0
18,1,0,0,0,7,189,33,25,0,2,2
19,0,0,0,1,5,248,47,32,0,2,1
20,1,0,0,0,12,330,28,25,1,0,0
21,1,0,0,0,3,179,38,31,0,0,0
22,1,0,0,0,10,361,28,27,0,1,4
23,0,0,0,1,8,260,36,23,0,4,0
24,0,0,1,0,8,289,33,30,0,2,1
25,0,0,0,1,8,361,28,27,0,1,4
26,0,0,0,1,4,289,33,30,0,2,1
27,0,0,0,1,12,157,29,22,0,0,0
28,0,0,1,0,8,289,33,30,0,2,1
29,0,0,0,1,8,179,38,31,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,4,155,34,25,0,2,0
671,0,0,1,0,4,225,28,24,0,1,2
672,1,0,0,0,4,118,50,31,0,1,0
673,0,0,0,1,4,179,30,19,1,0,0
674,0,0,0,1,7,235,37,29,1,1,1
675,0,0,1,0,9,225,41,28,1,2,2
676,0,0,0,1,9,235,32,25,1,0,0
677,1,0,0,0,9,118,37,28,0,0,0
678,0,0,0,1,9,235,43,38,0,1,0
679,1,0,0,0,10,179,30,19,1,0,0
680,0,0,0,1,10,291,40,25,0,1,1
681,1,0,0,0,10,225,41,28,1,2,2
682,0,0,1,0,11,300,43,25,0,2,1
683,0,0,0,1,11,225,41,28,1,2,2
684,0,0,0,1,11,179,30,19,1,0,0
685,0,0,0,1,5,118,50,31,0,1,0
686,1,0,0,0,5,118,50,31,0,1,0
687,0,0,0,1,5,118,37,28,0,0,0
688,0,0,0,0,5,118,50,31,0,1,0
689,0,0,0,1,5,179,30,19,1,0,0
690,0,0,0,0,5,378,36,21,0,2,4
691,0,1,0,0,5,179,40,22,1,2,0
692,1,0,0,0,5,155,34,25,0,2,0
693,1,0,0,0,5,235,32,25,1,0,0
694,0,0,0,1,5,291,40,25,0,1,1
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

In [70]:
# Create a variable that will contain the inputs (everything without the targets)
unscaled_inputs = data_with_targets.iloc[:,:-1]

## Standardize the data

In [71]:
# standardize the inputs

# standardization is one of the most common preprocessing tools
# since data of different magnitude (scale) can be biased towards high values,
# we want all inputs to be of similar magnitude
# this is a peculiarity of machine learning in general - most (but not all) algorithms do badly with unscaled data

# a very useful module we can use is StandardScaler 
# it has much more capabilities than the straightforward 'preprocessing' method
from sklearn.preprocessing import StandardScaler


# we will create a variable that will contain the scaling information for this particular dataset
# here's the full documentation: http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

# define scaler as an object
absenteeism_scaler = StandardScaler()

In [72]:
# import the libraries needed to create the Custom Scaler
# note that all of them are a part of the sklearn package
# moreover, one of them is actually the StandardScaler module, 
# so you can imagine that the Custom Scaler is build on it

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

# create the Custom Scaler class

class CustomScaler(BaseEstimator,TransformerMixin): 
    
    # init or what information we need to declare a CustomScaler object
    # and what is calculated/declared as we do
    
    def __init__(self,columns,copy=True,with_mean=True,with_std=True):
        
        # scaler is nothing but a Standard Scaler object
        self.scaler = StandardScaler(copy,with_mean,with_std)
        # with some columns 'twist'
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    
    # the fit method, which, again based on StandardScale
    
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    # the transform method which does the actual scaling

    def transform(self, X, y=None, copy=None):
        
        # record the initial order of the columns
        init_col_order = X.columns
        
        # scale all features that you chose when creating the instance of the class
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        
        # declare a variable containing all information that was not scaled
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        
        # return a data frame which contains all scaled features and all 'not scaled' features
        # use the original order (that you recorded in the beginning)
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [73]:
# check what are all columns that we've got
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pet'], dtype=object)

In [74]:
# choose the columns to scale
# we later augmented this code and put it in comments
# columns_to_scale = ['Month Value','Day of the Week', 'Transportation Expense', 'Distance to Work',
       #'Age', 'Daily Work Load Average', 'Body Mass Index', 'Children', 'Pet']
    
# select the columns to omit
columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Education']

In [75]:
# create the columns to scale, based on the columns to omit
# use list comprehension to iterate over the list
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [76]:
# declare a scaler object, specifying the columns you want to scale
absenteeism_scaler = CustomScaler(columns_to_scale)

c:\users\luca\appdata\local\continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: FutureWarning: Pass copy=True, with_mean=True, with_std=True as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  "will result in an error", FutureWarning)

In [77]:
# fit the data (calculate mean and standard deviation); they are automatically stored inside the object 
absenteeism_scaler.fit(unscaled_inputs)

AttributeError: 'CustomScaler' object has no attribute 'copy'

AttributeError: 'CustomScaler' object has no attribute 'copy'

In [78]:
# standardizes the data, using the transform method 
# in the last line, we fitted the data - in other words
# we found the internal parameters of a model that will be used to transform data. 
# transforming applies these parameters to our data
# note that when you get new data, you can just call 'scaler' again and transform it in the same way as now
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [79]:
# the scaled_inputs are now an ndarray, because sklearn works with ndarrays
scaled_inputs

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet
0,0,0,0,1,0.030796,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.030796,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.030796,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.030796,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.030796,1.005844,-0.536062,0.767431,0,0.880469,0.268487
5,0,0,0,1,0.929019,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
6,0,0,0,1,0.030796,2.092381,-1.320435,0.061825,0,-0.019280,2.843016
7,0,0,0,1,0.030796,0.568211,-0.065439,-0.878984,0,2.679969,-0.589690
8,0,0,1,0,-0.268611,-1.016322,-0.379188,-0.408580,0,0.880469,-0.589690
9,0,0,0,1,0.030796,0.190942,0.091435,0.532229,1,-0.019280,0.268487
10,1,0,0,0,0.030796,0.568211,-0.065439,-0.878984,0,2.679969,-0.589690
11,1,0,0,0,0.030796,0.568211,-0.065439,-0.878984,0,2.679969,-0.589690
12,1,0,0,0,0.030796,0.568211,-0.065439,-0.878984,0,2.679969,-0.589690
13,1,0,0,0,0.030796,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
14,0,0,0,1,0.030796,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
15,1,0,0,0,0.030796,0.356940,0.718933,-0.878984,0,-0.919030,-0.589690
16,0,0,0,1,0.030796,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
17,0,0,1,0,0.030796,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
18,1,0,0,0,0.030796,-0.503235,-0.536062,-0.408580,0,0.880469,1.126663
19,0,0,0,1,-0.568019,0.387122,1.660180,1.237836,0,0.880469,0.268487
20,1,0,0,0,1.527833,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
21,1,0,0,0,-1.166834,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
22,1,0,0,0,0.929019,2.092381,-1.320435,0.061825,0,-0.019280,2.843016
23,0,0,0,1,0.330204,0.568211,-0.065439,-0.878984,0,2.679969,-0.589690
24,0,0,1,0,0.330204,1.005844,-0.536062,0.767431,0,0.880469,0.268487
25,0,0,0,1,0.330204,2.092381,-1.320435,0.061825,0,-0.019280,2.843016
26,0,0,0,1,-0.867426,1.005844,-0.536062,0.767431,0,0.880469,0.268487
27,0,0,0,1,1.527833,-0.986140,-1.163560,-1.114186,0,-0.919030,-0.589690
28,0,0,1,0,0.330204,1.005844,-0.536062,0.767431,0,0.880469,0.268487
29,0,0,0,1,0.330204,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
...,...,...,...,...,...,...,...,...,...,...,...
670,0,0,0,1,-0.867426,-1.016322,-0.379188,-0.408580,0,0.880469,-0.589690
671,0,0,1,0,-0.867426,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
672,1,0,0,0,-0.867426,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
673,0,0,0,1,-0.867426,-0.654143,-1.006686,-1.819793,1,-0.919030,-0.589690
674,0,0,0,1,0.030796,0.190942,0.091435,0.532229,1,-0.019280,0.268487
675,0,0,1,0,0.629611,0.040034,0.718933,0.297027,1,0.880469,1.126663
676,0,0,0,1,0.629611,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
677,1,0,0,0,0.629611,-1.574681,0.091435,0.297027,0,-0.919030,-0.589690
678,0,0,0,1,0.629611,0.190942,1.032682,2.649049,0,-0.019280,-0.589690
679,1,0,0,0,0.929019,-0.654143,-1.006686,-1.819793,1,-0.919030,-0.589690
680,0,0,0,1,0.929019,1.036026,0.562059,-0.408580,0,-0.019280,0.268487
681,1,0,0,0,0.929019,0.040034,0.718933,0.297027,1,0.880469,1.126663
682,0,0,1,0,1.228426,1.171843,1.032682,-0.408580,0,0.880469,0.268487
683,0,0,0,1,1.228426,0.040034,0.718933,0.297027,1,0.880469,1.126663
684,0,0,0,1,1.228426,-0.654143,-1.006686,-1.819793,1,-0.919030,-0.589690
685,0,0,0,1,-0.568019,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
686,1,0,0,0,-0.568019,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
687,0,0,0,1,-0.568019,-1.574681,0.091435,0.297027,0,-0.919030,-0.589690
688,0,0,0,0,-0.568019,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
689,0,0,0,1,-0.568019,-0.654143,-1.006686,-1.819793,1,-0.919030,-0.589690
690,0,0,0,0,-0.568019,2.348925,-0.065439,-1.349389,0,0.880469,2.843016
691,0,1,0,0,-0.568019,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
692,1,0,0,0,-0.568019,-1.016322,-0.379188,-0.408580,0,0.880469,-0.589690
693,1,0,0,0,-0.568019,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
694,0,0,0,1,-0.568019,1.036026,0.562059,-0.408580,0,-0.019280,0.268487
695,1,0,0,0,-0.568019,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.568019,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.568019,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.568019,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.568019,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [80]:
# check the shape of the inputs
scaled_inputs.shape

(700, 11)

## Split the data into train & test and shuffle

### Import the relevant module

In [81]:
# import train_test_split so we can split our data into train and test
from sklearn.model_selection import train_test_split

### Split

In [82]:
# check how this method works
train_test_split(scaled_inputs, targets)

[     Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
 78          0         0         0         1     0.929019
 166         0         0         0         1    -1.166834
 495         0         0         0         1    -0.568019
 103         0         0         0         1    -0.867426
 109         0         0         0         1     1.527833
 307         0         0         0         1     0.929019
 306         0         0         0         1     0.929019
 116         0         0         1         0    -0.568019
 371         1         0         0         0    -1.765648
 72          0         0         0         1     0.929019
 234         0         0         0         1    -0.268611
 258         0         0         0         1     1.228426
 29          0         0         0         1     0.330204
 522         0         0         0         1     0.929019
 647         0         0         0         1    -1.166834
 543         1         0         0         0     1.228426
 578         0         0         0         1    -1.765648
 623         0         0         0         1     0.030796
 182         1         0         0         0    -1.166834
 457         0         0         0         1    -0.268611
 369         0         0         0         1     0.030796
 688         0         0         0         0    -0.568019
 323         1         0         0         0     1.228426
 693         1         0         0         0    -0.568019
 326         0         0         1         0     1.228426
 605         0         0         0         1    -1.466241
 379         0         0         0         1    -1.466241
 46          0         0         0         1     0.629611
 686         1         0         0         0    -0.568019
 127         0         0         0         1     1.228426
 ..        ...       ...       ...       ...          ...
 521         1         0         0         0     0.929019
 174         0         0         0         1    -1.166834
 12          1         0         0         0     0.030796
 225         1         0         0         0    -0.268611
 21          1         0         0         0    -1.166834
 49          1         0         0         0     0.629611
 141         0         0         0         1     1.228426
 331         1         0         0         0     1.228426
 415         0         0         0         1     0.929019
 292         0         0         0         1    -0.268611
 619         0         0         0         1    -0.568019
 474         0         0         0         1     0.030796
 531         1         0         0         0     0.929019
 484         0         0         0         1     0.330204
 555         1         0         0         0    -0.568019
 529         1         0         0         0     0.929019
 39          0         0         0         1     0.330204
 403         1         0         0         0    -1.166834
 168         1         0         0         0    -1.166834
 122         0         0         0         1     1.527833
 280         0         0         0         1     0.629611
 567         0         0         0         1     1.527833
 244         1         0         0         0     0.030796
 654         1         0         0         0    -1.466241
 373         0         0         0         1     0.929019
 345         1         0         0         0     1.527833
 155         0         0         0         1    -1.765648
 99          0         0         1         0    -1.765648
 394         0         0         0         1    -1.166834
 53          0         0         0         1     0.629611

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 78                 2.092381 -1.320435         0.061825          0 -0.019280
 166                0.568211 -0.065439        -0.878984          0  2.679969
 495                0.356940  0.718933        -0.878984          0 -0.919030
 103                0.568211 -0.065439        -0.878984          0  2.679969
 109                2.092381 -1.320435         0.061825          0 -0.019280
 307                1.036026  0.562059        -0.408580          0 -0.019280
 306               -1.574681  2.130803         1.002633          0 -0.019280
 116               -1.016322 -0.379188        -0.408580          0  0.880469
 371                0.040034 -1.320435        -0.643782          0 -0.019280
 72                -0.654143  0.248310         1.002633          0 -0.919030
 234                1.005844  1.973929         2.178644          0 -0.919030
 258                0.568211 -0.065439        -0.878984          0  2.679969
 29                -0.654143  0.248310         1.002633          0 -0.919030
 522                1.036026  0.562059        -0.408580          0 -0.019280
 647               -1.574681  1.503305        -0.408580          0  0.880469
 543                0.040034 -1.320435        -0.643782          0 -0.019280
 578               -0.654143 -1.006686        -1.819793          1 -0.919030
 623               -0.654143  0.248310         1.002633          0 -0.919030
 182                0.387122  1.660180         1.237836          0  0.880469
 457                0.356940  0.718933        -0.878984          0 -0.919030
 369               -1.574681  0.091435         0.297027          0 -0.919030
 688               -1.574681  2.130803         1.002633          0 -0.019280
 323               -1.016322 -0.379188        -0.408580          0  0.880469
 693                0.190942 -0.692937        -0.408580          1 -0.919030
 326                0.190942  0.091435         0.532229          1 -0.019280
 605               -0.654143  0.248310         1.002633          0 -0.919030
 379               -0.654143  0.248310         1.002633          0 -0.919030
 46                -0.654143  0.248310         1.002633          0 -0.919030
 686               -1.574681  2.130803         1.002633          0 -0.019280
 127               -1.574681  0.091435         0.297027          0 -0.919030
 ..                      ...       ...              ...        ...       ...
 521                0.085306  3.385799        -1.114186          0  0.880469
 174                0.040034 -1.320435        -0.643782          0 -0.019280
 12                 0.568211 -0.065439        -0.878984          0  2.679969
 225               -0.654143  0.248310         1.002633          0 -0.919030
 21                -0.654143  0.248310         1.002633          0 -0.919030
 49                 1.036026  0.562059        -0.408580          0 -0.019280
 141               -0.503235 -0.536062        -0.408580          0  0.880469
 331                1.036026  0.562059        -0.408580          0 -0.019280
 415                2.213108 -0.849811        -0.408580          0  1.780219
 292                1.005844 -0.536062         0.767431          0  0.880469
 619                0.387122  1.660180         1.237836          0  0.880469
 474                2.092381 -1.320435         0.061825          0 -0.019280
 531                0.040034 -1.320435        -0.643782          0 -0.019280
 484                1.005844 -0.536062         0.767431          0  0.880469
 555               -0.654143  0.248310         1.002633          0 -0.919030
 529                0.387122  1.660180         1.237836          0  0.880469
 39                 0.568211 -0.065439        -0.878984          0  2.679969
 403               -1.574681  2.130803         1.002633          0 -0.019280
 168                1.005844 -0.536062         0.767431          0  0.880469
 122                0.040034 -1.320435        -0.643782          0 -0.019280
 280               -0.654143  0.248310         1.002633          0 -0.919030
 567                0.040034 -1.320435        -0.643782          0 -0.019280
 244                1.624567 -1.320435        -0.408580          1 -0.919030
 654                0.040034 -1.320435        -0.643782          0 -0.019280
 373                0.568211 -0.065439        -0.878984          0  2.679969
 345                0.356940  0.718933        -0.878984          0 -0.919030
 155                1.036026 -0.692937        -0.878984          0 -0.919030
 99                -1.574681  0.091435         0.297027          0 -0.919030
 394               -0.654143  0.248310         1.002633          0 -0.919030
 53                -1.574681  0.091435         0.297027          0 -0.919030

           Pet
 78   2.843016
 166 -0.589690
 495 -0.589690
 103 -0.589690
 109  2.843016
 307  0.268487
 306 -0.589690
 116 -0.589690
 371  1.126663
 72  -0.589690
 234  1.126663
 258 -0.589690
 29  -0.589690
 522  0.268487
 647 -0.589690
 543  1.126663
 578 -0.589690
 623 -0.589690
 182  0.268487
 457 -0.589690
 369 -0.589690
 688 -0.589690
 323 -0.589690
 693 -0.589690
 326  0.268487
 605 -0.589690
 379 -0.589690
 46  -0.589690
 686 -0.589690
 127 -0.589690
 ..        ...
 521  0.268487
 174  1.126663
 12  -0.589690
 225 -0.589690
 21  -0.589690
 49   0.268487
 141  1.126663
 331  0.268487
 415 -0.589690
 292  0.268487
 619  0.268487
 474  2.843016
 531  1.126663
 484  0.268487
 555 -0.589690
 529  0.268487
 39  -0.589690
 403 -0.589690
 168  0.268487
 122  1.126663
 280 -0.589690
 567  1.126663
 244 -0.589690
 654  1.126663
 373 -0.589690
 345 -0.589690
 155 -0.589690
 99  -0.589690
 394 -0.589690
 53  -0.589690

 [525 rows x 11 columns],
      Reason_1  Reason_2  Reason_3  Reason_4  Month Value  \
 202         1         0         0         0     0.330204
 442         0         0         0         1    -0.568019
 278         1         0         0         0     0.629611
 511         0         0         0         1     1.228426
 305         0         0         0         1     0.929019
 284         0         0         0         1     0.629611
 409         0         0         0         1    -1.166834
 665         0         0         0         1    -0.867426
 70          0         0         0         1     0.929019
 291         0         0         0         1    -0.568019
 130         0         0         1         0     1.527833
 463         1         0         0         0     0.929019
 494         0         0         0         1     0.330204
 282         0         0         0         1     0.629611
 135         0         0         0         1    -1.765648
 499         0         0         0         1     0.030796
 181         0         0         0         1    -1.166834
 3           1         0         0         0     0.030796
 603         1         0         0         0    -1.466241
 209         1         0         0         0     1.228426
 635         1         0         0         0    -1.166834
 69          0         0         0         1     0.929019
 387         1         0         0         0    -1.466241
 621         0         0         0         1    -0.268611
 368         0         0         0         1    -1.765648
 355         0         0         0         1     1.527833
 675         0         0         1         0     0.629611
 661         0         1         0         0     0.929019
 52          0         0         0         1     0.330204
 644         0         0         0         1    -1.166834
 ..        ...       ...       ...       ...          ...
 334         1         0         0         0     1.228426
 139         1         0         0         0     0.929019
 447         1         0         0         0     1.527833
 87          1         0         0         0     1.228426
 410         0         0         1         0    -1.166834
 20          1         0         0         0     1.527833
 520         0         0         0         1     0.929019
 163         1         0         0         0    -0.867426
 611         1         0         0         0    -1.466241
 677         1         0         0         0     0.629611
 430         0         0         0         1     1.228426
 613         0         0         0         1    -1.466241
 432         1         0         0         0    -0.568019
 468         0         1         0         0     0.030796
 118         0         0         0         1     0.030796
 340         0         0         0         1    -0.568019
 75          1         0         0         0     0.929019
 548         0         0         0         0     1.228426
 96          1         0         0         0     1.228426
 444         0         0         0         1     0.330204
 553         0         0         0         1     1.228426
 692         1         0         0         0    -0.568019
 636         0         0         0         1    -1.166834
 421         0         0         0         1    -0.867426
 616         0         0         0         1    -1.466241
 517         0         0         0         1     0.929019
 535         0         0         0         1     0.929019
 220         0         0         1         0    -0.268611
 190         0         0         0         1    -0.867426
 5           0         0         0         1     0.929019

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 202                0.190942  0.091435         0.532229          1 -0.019280
 442               -0.654143  0.248310         1.002633          0 -0.919030
 278               -0.654143  0.248310         1.002633          0 -0.919030
 511                1.036026  0.562059        -0.408580          0 -0.019280
 305                0.190942  1.032682         2.649049          0 -0.019280
 284               -1.574681  2.130803         1.002633          0 -0.019280
 409                1.005844 -0.536062         0.767431          0  0.880469
 665                0.190942  0.091435         0.532229          1 -0.019280
 70                 0.387122  1.660180         1.237836          0  0.880469
 291                1.005844 -0.536062         0.767431          0  0.880469
 130                1.005844 -0.536062         0.767431          0  0.880469
 463                0.688938 -0.536062        -0.408580          1 -0.919030
 494                0.568211 -0.065439        -0.878984          0  2.679969
 282                0.568211 -0.065439        -0.878984          0  2.679969
 135                0.040034 -1.320435        -0.643782          0 -0.019280
 499                1.036026  0.562059        -0.408580          0 -0.019280
 181                0.040034 -1.320435        -0.643782          0 -0.019280
 3                  0.854936  0.405184        -0.643782          0  0.880469
 603                0.160760 -0.849811        -1.349389          1 -0.019280
 209               -0.578689 -1.477309        -1.349389          0 -0.919030
 635                0.387122  1.660180         1.237836          0  0.880469
 69                 0.040034 -1.320435        -0.643782          0 -0.019280
 387                0.356940  0.718933        -0.878984          0 -0.919030
 621                0.387122  1.660180         1.237836          0  0.880469
 368               -0.654143  0.248310         1.002633          0 -0.919030
 355               -0.986140 -1.163560        -1.114186          0 -0.919030
 675                0.040034  0.718933         0.297027          1  0.880469
 661               -0.654143  0.562059        -1.114186          1  0.880469
 52                 0.040034 -1.320435        -0.643782          0 -0.019280
 644               -0.654143 -1.006686        -1.819793          1 -0.919030
 ..                      ...       ...              ...        ...       ...
 334                0.568211 -0.065439        -0.878984          0  2.679969
 139               -0.654143  0.248310         1.002633          0 -0.919030
 447                1.036026  0.562059        -0.408580          0 -0.019280
 87                 1.036026  0.562059        -0.408580          0 -0.019280
 410                0.568211 -0.065439        -0.878984          0  2.679969
 20                 1.624567 -1.320435        -0.408580          1 -0.919030
 520               -0.654143  0.248310         1.002633          0 -0.919030
 163                0.568211 -0.065439        -0.878984          0  2.679969
 611                0.040034 -1.320435        -0.643782          0 -0.019280
 677               -1.574681  0.091435         0.297027          0 -0.919030
 430                2.092381 -1.320435         0.061825          0 -0.019280
 613                0.387122  1.660180         1.237836          0  0.880469
 432               -0.654143  0.562059        -1.114186          1  0.880469
 468                1.171843  1.032682        -0.408580          0  0.880469
 118               -0.578689 -1.477309        -1.349389          0 -0.919030
 340               -0.654143  0.248310         1.002633          0 -0.919030
 75                 1.036026  0.562059        -0.408580          0 -0.019280
 548                1.036026  0.562059        -0.408580          0 -0.019280
 96                 1.005844 -0.536062         0.767431          0  0.880469
 444                0.040034 -1.320435        -0.643782          0 -0.019280
 553                2.213108 -0.849811        -0.408580          0  1.780219
 692               -1.016322 -0.379188        -0.408580          0  0.880469
 636               -0.654143  0.248310         1.002633          0 -0.919030
 421                1.171843  1.032682        -0.408580          0  0.880469
 616               -0.654143  0.248310         1.002633          0 -0.919030
 517                2.213108 -0.849811        -0.408580          0  1.780219
 535               -0.654143  0.248310         1.002633          0 -0.919030
 220                0.356940  0.718933        -0.878984          0 -0.919030
 190                0.568211 -0.065439        -0.878984          0  2.679969
 5                 -0.654143  0.248310         1.002633          0 -0.919030

           Pet
 202  0.268487
 442 -0.589690
 278 -0.589690
 511  0.268487
 305 -0.589690
 284 -0.589690
 409  0.268487
 665  0.268487
 70   0.268487
 291  0.268487
 130  0.268487
 463 -0.589690
 494 -0.589690
 282 -0.589690
 135  1.126663
 499  0.268487
 181  1.126663
 3   -0.589690
 603  6.275721
 209 -0.589690
 635  0.268487
 69   1.126663
 387 -0.589690
 621  0.268487
 368 -0.589690
 355 -0.589690
 675  1.126663
 661 -0.589690
 52   1.126663
 644 -0.589690
 ..        ...
 334 -0.589690
 139 -0.589690
 447  0.268487
 87   0.268487
 410 -0.589690
 20  -0.589690
 520 -0.589690
 163 -0.589690
 611  1.126663
 677 -0.589690
 430  2.843016
 613  0.268487
 432 -0.589690
 468  0.268487
 118 -0.589690
 340 -0.589690
 75   0.268487
 548  0.268487
 96   0.268487
 444  1.126663
 553 -0.589690
 692 -0.589690
 636 -0.589690
 421  0.268487
 616 -0.589690
 517 -0.589690
 535 -0.589690
 220 -0.589690
 190 -0.589690
 5   -0.589690

 [175 rows x 11 columns],
 array([0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
        0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0,
        0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
        0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
        1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
        0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0,
        0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
        0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
        0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
        0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
        0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
        0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1,
        0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1,
        1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,

In [83]:
# declare 4 variables for the split
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, #train_size = 0.8, 
                                                                            test_size = 0.2, random_state = 20)

In [84]:
# check the shape of the train inputs and targets
print (x_train.shape, y_train.shape)

(560, 11) (560,)

In [85]:
# check the shape of the test inputs and targets
print (x_test.shape, y_test.shape)

(140, 11) (140,)

## Logistic regression with sklearn

In [86]:
# import the LogReg model from sklearn
from sklearn.linear_model import LogisticRegression

# import the 'metrics' module, which includes important metrics we may want to use
from sklearn import metrics

### Training the model

In [87]:
# create a logistic regression object
reg = LogisticRegression()

In [88]:
# fit our train inputs
# that is basically the whole training part of the machine learning
reg.fit(x_train,y_train)

LogisticRegression()

In [89]:
# assess the train accuracy of the model
reg.score(x_train,y_train)

0.7767857142857143

### Manually check the accuracy

In [90]:
# find the model outputs according to our model
model_outputs = reg.predict(x_train)
model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [91]:
# compare them with the targets
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [92]:
# ACTUALLY compare the two variables
model_outputs == y_train

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True, False, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True, False, False, False,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True,  True, False,  True,  True,  True,  True,
        True, False,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False, False,  True,  True,  True,  True,  True, False,
       False, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
       False,  True,  True,  True,  True, False,  True, False,  True,
       False,  True,  True,  True,  True,  True, False,  True, False,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True, False, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True, False,  True,
        True, False,  True, False,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True, False,  True,  True, False,
        True,  True,  True, False,  True,  True, False,  True, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True, False, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
       False, False, False,  True,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True,  True,  True,  True, False,  True,
       False,  True])

In [93]:
# find out in how many instances we predicted correctly
np.sum((model_outputs==y_train))

435

In [94]:
# get the total number of instances
model_outputs.shape[0]

560

In [95]:
# calculate the accuracy of the model
np.sum((model_outputs==y_train)) / model_outputs.shape[0]

0.7767857142857143

### Finding the intercept and coefficients

In [96]:
# get the intercept (bias) of our model
reg.intercept_

array([-1.60957471])

In [97]:
# get the coefficients (weights) of our model
reg.coef_

array([[ 2.77151176,  0.93168817,  3.09210221,  0.8090592 ,  0.00781237,
         0.62505482, -0.17390339,  0.28829409, -0.24081615,  0.35753531,
        -0.27337422]])

In [98]:
# check what were the names of our columns
unscaled_inputs.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pet'], dtype=object)

In [99]:
# save the names of the columns in an ad-hoc variable
feature_name = unscaled_inputs.columns.values

In [100]:
# use the coefficients from this table (they will be exported later and will be used in Tableau)
# transpose the model coefficients (model.coef_) and throws them into a df (a vertical organization, so that they can be
# multiplied by certain matrices later) 
summary_table = pd.DataFrame (columns=['Feature name'], data = feature_name)

# add the coefficient values to the summary table
summary_table['Coefficient'] = np.transpose(reg.coef_)

# display the summary table
summary_table

              Feature name  Coefficient
0                 Reason_1     2.771512
1                 Reason_2     0.931688
2                 Reason_3     3.092102
3                 Reason_4     0.809059
4              Month Value     0.007812
5   Transportation Expense     0.625055
6                      Age    -0.173903
7          Body Mass Index     0.288294
8                Education    -0.240816
9                 Children     0.357535
10                     Pet    -0.273374

In [101]:
# do a little Python trick to move the intercept to the top of the summary table
# move all indices by 1
summary_table.index = summary_table.index + 1

# add the intercept at index 0
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]

# sort the df by index
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -1.609575
1                 Reason_1     2.771512
2                 Reason_2     0.931688
3                 Reason_3     3.092102
4                 Reason_4     0.809059
5              Month Value     0.007812
6   Transportation Expense     0.625055
7                      Age    -0.173903
8          Body Mass Index     0.288294
9                Education    -0.240816
10                Children     0.357535
11                     Pet    -0.273374

## Interpreting the coefficients

In [102]:
# create a new Series called: 'Odds ratio' which will show the.. odds ratio of each feature
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)

In [103]:
# display the df
summary_table

              Feature name  Coefficient  Odds_ratio
0                Intercept    -1.609575    0.199973
1                 Reason_1     2.771512   15.982778
2                 Reason_2     0.931688    2.538791
3                 Reason_3     3.092102   22.023327
4                 Reason_4     0.809059    2.245794
5              Month Value     0.007812    1.007843
6   Transportation Expense     0.625055    1.868348
7                      Age    -0.173903    0.840378
8          Body Mass Index     0.288294    1.334150
9                Education    -0.240816    0.785986
10                Children     0.357535    1.429801
11                     Pet    -0.273374    0.760808

In [104]:
# sort the table according to odds ratio
# note that by default, the sort_values method sorts values by 'ascending'
summary_table.sort_values('Odds_ratio', ascending=False)

              Feature name  Coefficient  Odds_ratio
3                 Reason_3     3.092102   22.023327
1                 Reason_1     2.771512   15.982778
2                 Reason_2     0.931688    2.538791
4                 Reason_4     0.809059    2.245794
6   Transportation Expense     0.625055    1.868348
10                Children     0.357535    1.429801
8          Body Mass Index     0.288294    1.334150
5              Month Value     0.007812    1.007843
7                      Age    -0.173903    0.840378
9                Education    -0.240816    0.785986
11                     Pet    -0.273374    0.760808
0                Intercept    -1.609575    0.199973

## Testing the model

In [105]:
# assess the test accuracy of the model
reg.score(x_test,y_test)

0.7357142857142858